mixin tour-item(view, Price, title, amount, amountrv, duration, cost)
                .top-tour
                    .image-tour
                        img.view(src= view, alt='Thailands Ayutthaya Temples')
                        span.Price-tour From $#{Price}
                    .content-tour
                        div
                            h3.title-tour= title
                        .review-tour
                            .rating-tour
                                .star-tour
                                    img(src='../Img/Shape.png', alt='star-tour')
                                .review-amount-tour
                                    span= amount 
                                        |  (#{amountrv} reviews)
                            span.duration-tour Duration: #{duration} hours
                        .pricing-button-tour
                                a.button(target='_blank', rel='noopener noreferrer', href='https://www.instagram.com/direct/t/340282366841710300949128221139589243545')
                                    | Tours Price $#{cost}
mixin popular-item(view_popular, time_poppular, Activity_popular)
                .item-popular
                    .image-popular
                        .overlay-popular
                        img.activity_img(src=view_popular, alt="activity")
                        a.button-popular(target='_blank', rel='noopener noreferrer', href="https://www.instagram.com/_____0430_____/")= "Must See" 
                    .content-popular
                        .time-popular
                            span= time_poppular
                        .content-container
                            h3.title-popular= Activity_popular
                        .review-popular
                            .star-popular
                                img.shape-popular(src="../Img/Shape.png", alt="")
                            .amount-popular
                                span 4.8 (12 reviews)
mixin item-hidden(view_hidden)
                .item-hidden 
                    .imgae-hidden 
                        .gadient-hidden
                        img.view-hidden(src= view_hidden, alt="hidden gem")
                        .content-hidden
                            //- .title-hidden
                            h3.title-hidden Bangkok Trip
                            //- .date-hidden
                            span.date-hidden 27 Sep, 2023
